{% extends 'myapp/inher.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>
<div class="container">
    <h3>Create Account</h3>
    <br>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-primary w-100 btn-block p-2">Register<i class="fa fa-key" aria-hidden="true"></i></button>
    </form>
    <br>
    <div class="text-center">
        <p>Already have an account?</p> <a href="{% url 'login' %}">Login</a>
    </div>
</div>
</body>
{% endblock %}